
.blog-slider__item
  .blog-slider__custom_img
    width: 40%

@media screen and (max-width: 768px)
  .blog-slider__item
    .blog-slider__custom_img
      width: 90% !important
    .blog-slider__button
        width: 100%
@media screen and (max-width:600px)
  .blog-slider__item
    .blog-slider__custom_img
      width: 90% !important
@media screen and (max-width: 576px)
  .blog-slider__item
    .blog-slider__custom_img
      width: 95% !important

